EmercomDisp.Data/Connected Services/CallService/CallService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1122/CallService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1122/CallService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" />
      <xsd:import schemaLocation="http://localhost:1122/CallService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1122/CallService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICallService_GetCalls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalls" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCalls_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q1:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsByCategory" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallsByCategory_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q2:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallById" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallById_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q3:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCategories_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q4:ConnectionFault" />
  </wsdl:message>
  <wsdl:portType name="ICallService">
    <wsdl:operation name="GetCalls">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCalls" message="tns:ICallService_GetCalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCallsResponse" message="tns:ICallService_GetCalls_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallService/GetCallsConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallService_GetCalls_ConnectionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCallsByCategory" message="tns:ICallService_GetCallsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCallsByCategoryResponse" message="tns:ICallService_GetCallsByCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallService/GetCallsByCategoryConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallService_GetCallsByCategory_ConnectionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCallById" message="tns:ICallService_GetCallById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCallByIdResponse" message="tns:ICallService_GetCallById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallService/GetCallByIdConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallService_GetCallById_ConnectionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCategories" message="tns:ICallService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCategoriesResponse" message="tns:ICallService_GetCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallService/GetCategoriesConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallService_GetCategories_ConnectionFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICallService" type="tns:ICallService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalls">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCallsByCategory">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCallsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCallById">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCallById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallService">
    <wsdl:port name="BasicHttpBinding_ICallService" binding="tns:BasicHttpBinding_ICallService">
      <soap:address location="http://localhost:1122/CallService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>