EmercomDisp.Data/Connected Services/CallService/CallService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCallDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallDto" nillable="true" type="tns:CallDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallDto" nillable="true" type="tns:ArrayOfCallDto" />
  <xs:complexType name="CallDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDto" nillable="true" type="tns:CallDto" />
  <xs:complexType name="ConnectionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionFault" nillable="true" type="tns:ConnectionFault" />
  <xs:complexType name="SqlFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlFault" nillable="true" type="tns:SqlFault" />
</xs:schema>