EmercomDisp.Data/Connected Services/CallResponseService/CallResponseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallResponseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1122/CallResponseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1122/CallResponseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" />
      <xsd:import schemaLocation="http://localhost:1122/CallResponseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICallResponseService_GetCallResponsesForCall_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallResponsesForCall" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponsesForCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallResponsesForCallResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponsesForCall_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q1:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponsesForCall_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q2:SqlFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponseById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallResponseById" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponseById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallResponseByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponseById_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q3:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_GetCallResponseById_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q4:SqlFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_CreateCallResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCallResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_CreateCallResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCallResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_CreateCallResponse_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q5:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_CreateCallResponse_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q6:SqlFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_CreateCallResponse_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q7:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_UpdateCallResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_UpdateCallResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_UpdateCallResponse_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q8:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_UpdateCallResponse_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q9:SqlFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_UpdateCallResponse_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q10:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_DeleteCallResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCallResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_DeleteCallResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCallResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_DeleteCallResponse_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q11:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="ICallResponseService_DeleteCallResponse_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q12:SqlFault" />
  </wsdl:message>
  <wsdl:portType name="ICallResponseService">
    <wsdl:operation name="GetCallResponsesForCall">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponsesForCall" message="tns:ICallResponseService_GetCallResponsesForCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponsesForCallResponse" message="tns:ICallResponseService_GetCallResponsesForCall_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponsesForCallConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallResponseService_GetCallResponsesForCall_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponsesForCallSqlFaultFault" name="SqlFaultFault" message="tns:ICallResponseService_GetCallResponsesForCall_SqlFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallResponseById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponseById" message="tns:ICallResponseService_GetCallResponseById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponseByIdResponse" message="tns:ICallResponseService_GetCallResponseById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponseByIdConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallResponseService_GetCallResponseById_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/GetCallResponseByIdSqlFaultFault" name="SqlFaultFault" message="tns:ICallResponseService_GetCallResponseById_SqlFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCallResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallResponseService/CreateCallResponse" message="tns:ICallResponseService_CreateCallResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallResponseService/CreateCallResponseResponse" message="tns:ICallResponseService_CreateCallResponse_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/CreateCallResponseConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallResponseService_CreateCallResponse_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/CreateCallResponseSqlFaultFault" name="SqlFaultFault" message="tns:ICallResponseService_CreateCallResponse_SqlFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/CreateCallResponseArgumentFaultFault" name="ArgumentFaultFault" message="tns:ICallResponseService_CreateCallResponse_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCallResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallResponseService/UpdateCallResponse" message="tns:ICallResponseService_UpdateCallResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallResponseService/UpdateCallResponseResponse" message="tns:ICallResponseService_UpdateCallResponse_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/UpdateCallResponseConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallResponseService_UpdateCallResponse_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/UpdateCallResponseSqlFaultFault" name="SqlFaultFault" message="tns:ICallResponseService_UpdateCallResponse_SqlFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/UpdateCallResponseArgumentFaultFault" name="ArgumentFaultFault" message="tns:ICallResponseService_UpdateCallResponse_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCallResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallResponseService/DeleteCallResponse" message="tns:ICallResponseService_DeleteCallResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallResponseService/DeleteCallResponseResponse" message="tns:ICallResponseService_DeleteCallResponse_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/DeleteCallResponseConnectionFaultFault" name="ConnectionFaultFault" message="tns:ICallResponseService_DeleteCallResponse_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICallResponseService/DeleteCallResponseSqlFaultFault" name="SqlFaultFault" message="tns:ICallResponseService_DeleteCallResponse_SqlFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICallResponseService" type="tns:ICallResponseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCallResponsesForCall">
      <soap:operation soapAction="http://tempuri.org/ICallResponseService/GetCallResponsesForCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCallResponseById">
      <soap:operation soapAction="http://tempuri.org/ICallResponseService/GetCallResponseById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCallResponse">
      <soap:operation soapAction="http://tempuri.org/ICallResponseService/CreateCallResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCallResponse">
      <soap:operation soapAction="http://tempuri.org/ICallResponseService/UpdateCallResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCallResponse">
      <soap:operation soapAction="http://tempuri.org/ICallResponseService/DeleteCallResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallResponseService">
    <wsdl:port name="BasicHttpBinding_ICallResponseService" binding="tns:BasicHttpBinding_ICallResponseService">
      <soap:address location="http://localhost:1122/CallResponseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>