EmercomDisp.Data/Connected Services/CallResponseService/CallResponseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCallResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallResponseDto" nillable="true" type="tns:CallResponseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallResponseDto" nillable="true" type="tns:ArrayOfCallResponseDto" />
  <xs:complexType name="CallResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArriveTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BrigadeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentId" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransferTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallResponseDto" nillable="true" type="tns:CallResponseDto" />
  <xs:complexType name="ConnectionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionFault" nillable="true" type="tns:ConnectionFault" />
  <xs:complexType name="SqlFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlFault" nillable="true" type="tns:SqlFault" />
</xs:schema>