EmercomDisp.Data/Connected Services/BrigadeService/BrigadeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BrigadeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsOnCall" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrigadeDto" nillable="true" type="tns:BrigadeDto" />
  <xs:complexType name="ConnectionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionFault" nillable="true" type="tns:ConnectionFault" />
  <xs:complexType name="SqlFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlFault" nillable="true" type="tns:SqlFault" />
  <xs:complexType name="ArrayOfBrigadeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrigadeDto" nillable="true" type="tns:BrigadeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrigadeDto" nillable="true" type="tns:ArrayOfBrigadeDto" />
  <xs:complexType name="ArrayOfBrigadeMemberDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrigadeMemberDto" nillable="true" type="tns:BrigadeMemberDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrigadeMemberDto" nillable="true" type="tns:ArrayOfBrigadeMemberDto" />
  <xs:complexType name="BrigadeMemberDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrigadeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrigadeMemberDto" nillable="true" type="tns:BrigadeMemberDto" />
  <xs:complexType name="ArgumentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentFault" nillable="true" type="tns:ArgumentFault" />
</xs:schema>