EmercomDisp.Data/Connected Services/ServiceReference1/FakeCallService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FakeCallService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1122/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1122/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1122/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Model.Models" />
      <xsd:import schemaLocation="http://localhost:1122/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICallService_GetCalls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalls" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallsByUrgency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsByUrgency" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallsByUrgency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsByUrgencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallById" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCallById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ICallService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICallService">
    <wsdl:operation name="GetCalls">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCalls" message="tns:ICallService_GetCalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCallsResponse" message="tns:ICallService_GetCalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallsByUrgency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCallsByUrgency" message="tns:ICallService_GetCallsByUrgency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCallsByUrgencyResponse" message="tns:ICallService_GetCallsByUrgency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCallById" message="tns:ICallService_GetCallById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCallByIdResponse" message="tns:ICallService_GetCallById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallService/GetCategories" message="tns:ICallService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallService/GetCategoriesResponse" message="tns:ICallService_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICallService" type="tns:ICallService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalls">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallsByUrgency">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCallsByUrgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallById">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCallById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ICallService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FakeCallService">
    <wsdl:port name="BasicHttpBinding_ICallService" binding="tns:BasicHttpBinding_ICallService">
      <soap:address location="http://localhost:1122/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>