EmercomDisp.Data/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmercomDisp.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Call" nillable="true" type="tns:Call" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCall" nillable="true" type="tns:ArrayOfCall" />
  <xs:complexType name="Call">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArriveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BrigadeId" type="xs:int" />
      <xs:element minOccurs="0" name="CallTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentId" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransferTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Call" nillable="true" type="tns:Call" />
</xs:schema>