EmercomDisp.Data/Connected Services/VictimsService/VictimsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VictimsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1122/VictimsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1122/VictimsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" />
      <xsd:import schemaLocation="http://localhost:1122/VictimsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVictimsService_GetVictimById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVictimById" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVictimByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimById_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q1:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimById_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q2:SqlFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimsByIncidentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVictimsByIncidentId" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimsByIncidentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVictimsByIncidentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimsByIncidentId_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q3:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_GetVictimsByIncidentId_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q4:SqlFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_AddVictim_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVictim" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_AddVictim_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVictimResponse" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_AddVictim_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q5:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_AddVictim_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q6:SqlFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_AddVictim_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q7:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_UpdateVictim_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVictim" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_UpdateVictim_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVictimResponse" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_UpdateVictim_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q8:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_UpdateVictim_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q9:SqlFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_UpdateVictim_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q10:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_DeleteVictim_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVictim" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_DeleteVictim_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVictimResponse" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_DeleteVictim_ConnectionFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q11:ConnectionFault" />
  </wsdl:message>
  <wsdl:message name="IVictimsService_DeleteVictim_SqlFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/EmercomDisp.Service.Dto.Models" name="detail" element="q12:SqlFault" />
  </wsdl:message>
  <wsdl:portType name="IVictimsService">
    <wsdl:operation name="GetVictimById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVictimsService/GetVictimById" message="tns:IVictimsService_GetVictimById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVictimsService/GetVictimByIdResponse" message="tns:IVictimsService_GetVictimById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/GetVictimByIdConnectionFaultFault" name="ConnectionFaultFault" message="tns:IVictimsService_GetVictimById_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/GetVictimByIdSqlFaultFault" name="SqlFaultFault" message="tns:IVictimsService_GetVictimById_SqlFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVictimsByIncidentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IVictimsService/GetVictimsByIncidentId" message="tns:IVictimsService_GetVictimsByIncidentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVictimsService/GetVictimsByIncidentIdResponse" message="tns:IVictimsService_GetVictimsByIncidentId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/GetVictimsByIncidentIdConnectionFaultFault" name="ConnectionFaultFault" message="tns:IVictimsService_GetVictimsByIncidentId_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/GetVictimsByIncidentIdSqlFaultFault" name="SqlFaultFault" message="tns:IVictimsService_GetVictimsByIncidentId_SqlFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVictim">
      <wsdl:input wsaw:Action="http://tempuri.org/IVictimsService/AddVictim" message="tns:IVictimsService_AddVictim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVictimsService/AddVictimResponse" message="tns:IVictimsService_AddVictim_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/AddVictimConnectionFaultFault" name="ConnectionFaultFault" message="tns:IVictimsService_AddVictim_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/AddVictimSqlFaultFault" name="SqlFaultFault" message="tns:IVictimsService_AddVictim_SqlFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/AddVictimArgumentFaultFault" name="ArgumentFaultFault" message="tns:IVictimsService_AddVictim_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVictim">
      <wsdl:input wsaw:Action="http://tempuri.org/IVictimsService/UpdateVictim" message="tns:IVictimsService_UpdateVictim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVictimsService/UpdateVictimResponse" message="tns:IVictimsService_UpdateVictim_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/UpdateVictimConnectionFaultFault" name="ConnectionFaultFault" message="tns:IVictimsService_UpdateVictim_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/UpdateVictimSqlFaultFault" name="SqlFaultFault" message="tns:IVictimsService_UpdateVictim_SqlFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/UpdateVictimArgumentFaultFault" name="ArgumentFaultFault" message="tns:IVictimsService_UpdateVictim_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVictim">
      <wsdl:input wsaw:Action="http://tempuri.org/IVictimsService/DeleteVictim" message="tns:IVictimsService_DeleteVictim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVictimsService/DeleteVictimResponse" message="tns:IVictimsService_DeleteVictim_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/DeleteVictimConnectionFaultFault" name="ConnectionFaultFault" message="tns:IVictimsService_DeleteVictim_ConnectionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVictimsService/DeleteVictimSqlFaultFault" name="SqlFaultFault" message="tns:IVictimsService_DeleteVictim_SqlFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVictimsService" type="tns:IVictimsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVictimById">
      <soap:operation soapAction="http://tempuri.org/IVictimsService/GetVictimById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVictimsByIncidentId">
      <soap:operation soapAction="http://tempuri.org/IVictimsService/GetVictimsByIncidentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddVictim">
      <soap:operation soapAction="http://tempuri.org/IVictimsService/AddVictim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateVictim">
      <soap:operation soapAction="http://tempuri.org/IVictimsService/UpdateVictim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteVictim">
      <soap:operation soapAction="http://tempuri.org/IVictimsService/DeleteVictim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectionFaultFault">
        <soap:fault use="literal" name="ConnectionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SqlFaultFault">
        <soap:fault use="literal" name="SqlFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VictimsService">
    <wsdl:port name="BasicHttpBinding_IVictimsService" binding="tns:BasicHttpBinding_IVictimsService">
      <soap:address location="http://localhost:1122/VictimsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>